@charset "UTF-8";

@media screen and (max-widht: 600px){
       i#burguer{
              display: none;
       }

       menu{
              display: block;
       }

       main{
              width: 300px;
       }
       img{
              width: 100%;
       }

}


@media screen and (min-width: 768px){
       i#burguer{
              display: none;
       }

       menu{
              display: block;
       }

       main{
              width: 700px;
       }
       img{
              width: 100%;
       }
       }

